Repository ink8bit/vers, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, code owners, ignore, license, readme, crate, lockfile

.github/labeler.yml:

# Add `workflow` label to any change in .github/workflows folder
workflow:
  - .github/workflows/*

# Add `code owners` label to any change in CODEOWNERS file
code owners:
  - .github/CODEOWNERS

# Add `ignore` label to any change in .gitignore
ignore:
  - .gitignore

# Add `license` label to any change in LICENSE
license:
  - LICENSE

# Add `readme` label to any change in README.md
readme:
  - README.md

# Add `crate` label to any change in Cargo.toml
crate:
  - Cargo.toml

# Add `lockfile` label to any change in Cargo.lock
lockfile:
  - Cargo.lock

Change git log formatting
  src/git.rs
Labels: none

Verson bump: v0.0.15
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Sync labels
  .github/workflows/label.yml
Labels: workflow

Sync labels
  .github/workflows/label.yml
Labels: workflow

Delete label.yml
  .github/workflows/label.yml
Labels: workflow

Sync labels in labeler workflow
  .github/workflows/labeler.yml
Labels: workflow

Fix info about saving changes
  README.md
Labels: readme

Fix info about saving changes
  README.md
Labels: readme

Add spinners crate
  Cargo.lock
  Cargo.toml
  src/lib.rs
Labels: crate, lockfile

Fix docs
  README.md
Labels: readme

Fix formatting issues in readme
  README.md
Labels: readme

Change workflow file
  .github/workflows/rust.yml
Labels: workflow

Add colors to output messages
  Cargo.lock
  Cargo.toml
  src/lib.rs
Labels: crate, lockfile

Add colors to error messages
  src/lib.rs
Labels: none

Version bump: v0.0.16
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Change workflow file
  .github/workflows/rust.yml
Labels: workflow

Add colors to error messages
  src/lib.rs
Labels: none

Add spinners crate
  Cargo.lock
  Cargo.toml
  src/lib.rs
Labels: crate, lockfile

Add colors to output messages
  Cargo.lock
  Cargo.toml
  src/lib.rs
Labels: crate, lockfile

Fix docs
  README.md
Labels: readme

Version bump: v0.0.16
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Fix formatting issues in readme
  README.md
Labels: readme

Remove changelog success message
  src/changelog.rs
  src/lib.rs
Labels: none

Change return values
  src/git.rs
  src/lib.rs
Labels: none

Improve library public API
  src/lib.rs
Labels: none

Add spinner to CLI
  src/main.rs
Labels: none

Fix output messages formatting
  src/main.rs
Labels: none

Update readme
  README.md
Labels: readme

Version bump: v0.0.17
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Improve library public API
  src/lib.rs
Labels: none

Fix output messages formatting
  src/main.rs
Labels: none

Remove changelog success message
  src/changelog.rs
  src/lib.rs
Labels: none

Version bump: v0.0.17
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Add spinner to CLI
  src/main.rs
Labels: none

Change return values
  src/git.rs
  src/lib.rs
Labels: none

Update readme
  README.md
Labels: readme

Update brief info in readme
  README.md
Labels: readme

Update brief info in readme
  README.md
Labels: readme

Add reqwest and tokio crates
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Add error module
  src/error.rs
  src/lib.rs
Labels: none
