Repository ink8bit/vers, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, code owners, ignore, license, readme, crate, lockfile

Add new git command
  src/git.rs
  src/lib.rs
Labels: none

Remove `--all` flag from `commit` command
  src/git.rs
Labels: none

Check whether package.json exists
  src/lib.rs
Labels: none

Version bump: v0.0.11
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Remove `--all` flag from `commit` command
  src/git.rs
Labels: none

Add new git command
  src/git.rs
  src/lib.rs
Labels: none

Version bump: v0.0.11
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Check whether package.json exists
  src/lib.rs
Labels: none

Fix git log command
  src/git.rs
Labels: none

Change commit and tag methods
  src/changelog.rs
  src/git.rs
  src/lib.rs
Labels: none

Add function create_comment
  .github/workflows/rust.yml
  src/git.rs
Labels: workflow

Trim comment
  src/git.rs
Labels: none

Version bump: v0.0.12
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Fix git log command
  src/git.rs
Labels: none

Add function create_comment
  .github/workflows/rust.yml
  src/git.rs
Labels: workflow

Trim comment
  src/git.rs
Labels: none

Version bump: v0.0.12
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Change commit and tag methods
  src/changelog.rs
  src/git.rs
  src/lib.rs
Labels: none

Make releaser function public
  src/lib.rs
Labels: none

Version bump: v0.0.13
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Version bump: v0.0.13
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Make releaser function public
  src/lib.rs
Labels: none

Add new functions
  src/git.rs
Labels: none

Change git push function
  src/git.rs
  src/lib.rs
Labels: none

Improve error handling
  src/lib.rs
Labels: none

Update readme
  README.md
Labels: readme

Update public API
  README.md
  src/lib.rs
Labels: readme

Add docs
  README.md
  src/git.rs
  src/lib.rs
  src/npm.rs
Labels: readme

Fix readme section
  README.md
Labels: readme

Version bump: v0.0.14
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Version bump: v0.0.14
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Add docs
  README.md
  src/git.rs
  src/lib.rs
  src/npm.rs
Labels: readme

Add new functions
  src/git.rs
Labels: none

Update readme
  README.md
Labels: readme

Improve error handling
  src/lib.rs
Labels: none

Fix readme section
  README.md
Labels: readme

Change git push function
  src/git.rs
  src/lib.rs
Labels: none

Update public API
  README.md
  src/lib.rs
Labels: readme

Change git log formatting
  src/git.rs
Labels: none

Verson bump: v0.0.15
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

.github/labeler.yml:

# Add `workflow` label to any change in .github/workflows folder
workflow:
  - .github/workflows/*

# Add `code owners` label to any change in CODEOWNERS file
code owners:
  - .github/CODEOWNERS

# Add `ignore` label to any change in .gitignore
ignore:
  - .gitignore

# Add `license` label to any change in LICENSE
license:
  - LICENSE

# Add `readme` label to any change in README.md
readme:
  - README.md

# Add `crate` label to any change in Cargo.toml
crate:
  - Cargo.toml

# Add `lockfile` label to any change in Cargo.lock
lockfile:
  - Cargo.lock
