Repository ink8bit/vers, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, code owners, ignore, license, readme, crate, lockfile

Update readme
  README.md
Labels: readme

Version bump: v0.0.7
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Update readme
  README.md
Labels: readme

Version bump: v0.0.7
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Check changes before version update
  src/lib.rs
Labels: none

Update readme
  README.md
Labels: readme

Add custom errors
  src/lib.rs
  src/main.rs
Labels: none

Fix commits log formatting
  src/git.rs
Labels: none

Fix error handling
  src/main.rs
Labels: none

Remove impl block
  src/lib.rs
Labels: none

Version bump: v0.0.8
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Add custom errors
  src/lib.rs
  src/main.rs
Labels: none

Fix commits log formatting
  src/git.rs
Labels: none

Check changes before version update
  src/lib.rs
Labels: none

Update readme
  README.md
Labels: readme

Fix error handling
  src/main.rs
Labels: none

Version bump: v0.0.8
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Remove impl block
  src/lib.rs
Labels: none

Add custom error for version update
  src/lib.rs
Labels: none

Check working area
  src/lib.rs
Labels: none

Update readme
  README.md
Labels: readme

Version bump: v0.0.9
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Add custom error for version update
  src/lib.rs
Labels: none

Update readme
  README.md
Labels: readme

Version bump: v0.0.9
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Check working area
  src/lib.rs
Labels: none

Add user email to releaser field in changelog
  src/git.rs
  src/lib.rs
Labels: none

Add separate function to construct releaser field
  src/lib.rs
Labels: none

Update readme
  README.md
Labels: readme

Use github name as a releaser name
  src/lib.rs
Labels: none

Add info about github username in changelog file
  README.md
Labels: readme

Add info about fallback value of releaser field
  README.md
Labels: readme

Version bump: v0.0.10
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Add info about fallback value of releaser field
  README.md
Labels: readme

Use github name as a releaser name
  src/lib.rs
Labels: none

Add separate function to construct releaser field
  src/lib.rs
Labels: none

Add info about github username in changelog file
  README.md
Labels: readme

Update readme
  README.md
Labels: readme

Version bump: v0.0.10
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Add user email to releaser field in changelog
  src/git.rs
  src/lib.rs
Labels: none

.github/labeler.yml:

# Add `workflow` label to any change in .github/workflows folder
workflow:
  - .github/workflows/*

# Add `code owners` label to any change in CODEOWNERS file
code owners:
  - .github/CODEOWNERS

# Add `ignore` label to any change in .gitignore
ignore:
  - .gitignore

# Add `license` label to any change in LICENSE
license:
  - LICENSE

# Add `readme` label to any change in README.md
readme:
  - README.md

# Add `crate` label to any change in Cargo.toml
crate:
  - Cargo.toml

# Add `lockfile` label to any change in Cargo.lock
lockfile:
  - Cargo.lock
