Repository ink8bit/vers, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, code owners, ignore, license, readme, crate, lockfile

Don't include changes in changelog if not provided
  src/changelog.rs
  src/cli.rs
  src/main.rs
Labels: none

Fix changelog entry formatting
  src/changelog.rs
Labels: none

Improve readme contents
  README.md
Labels: readme

Version bump: v0.0.2
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Don't include changes in changelog if not provided
  src/changelog.rs
  src/cli.rs
  src/main.rs
Labels: none

Improve readme contents
  README.md
Labels: readme

Version bump: v0.0.2
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Fix changelog entry formatting
  src/changelog.rs
Labels: none

Add usage section to readme
  README.md
  src/cli.rs
Labels: readme

Add --no-commit flag
  src/cli.rs
  src/lib.rs
  src/main.rs
Labels: none

Update usage section in readme
  README.md
Labels: readme

Remove version module
  src/lib.rs
  src/version.rs
Labels: none

Change version logic
  src/cli.rs
  src/lib.rs
  src/main.rs
Labels: none

Update readme
  README.md
Labels: readme

Version bump: v0.0.3
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Add usage section to readme
  README.md
  src/cli.rs
Labels: readme

Add --no-commit flag
  src/cli.rs
  src/lib.rs
  src/main.rs
Labels: none

Update usage section in readme
  README.md
Labels: readme

Version bump: v0.0.3
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Remove version module
  src/lib.rs
  src/version.rs
Labels: none

Update readme
  README.md
Labels: readme

Change version logic
  src/cli.rs
  src/lib.rs
  src/main.rs
Labels: none

Add new public functions
  src/lib.rs
Labels: none

Update readme, fix implementation
  README.md
  src/lib.rs
  src/main.rs
Labels: readme

Version bump: v0.0.4
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Add new public functions
  src/lib.rs
Labels: none

Update readme, fix implementation
  README.md
  src/lib.rs
  src/main.rs
Labels: readme

Version bump: v0.0.4
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Fix binary app logic
  src/main.rs
Labels: none

Version bump: v0.0.5
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Fix binary app logic
  src/main.rs
Labels: none

Version bump: v0.0.5
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Fix version command
  README.md
  src/cli.rs
  src/main.rs
Labels: readme

Fix changelog formatting
  src/changelog.rs
Labels: none

Remove positional argument
  src/cli.rs
Labels: none

Version bump: v0.0.6
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Version bump: v0.0.6
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Fix version command
  README.md
  src/cli.rs
  src/main.rs
Labels: readme

Remove positional argument
  src/cli.rs
Labels: none

Fix changelog formatting
  src/changelog.rs
Labels: none

.github/labeler.yml:

# Add `workflow` label to any change in .github/workflows folder
workflow:
  - .github/workflows/*

# Add `code owners` label to any change in CODEOWNERS file
code owners:
  - .github/CODEOWNERS

# Add `ignore` label to any change in .gitignore
ignore:
  - .gitignore

# Add `license` label to any change in LICENSE
license:
  - LICENSE

# Add `readme` label to any change in README.md
readme:
  - README.md

# Add `crate` label to any change in Cargo.toml
crate:
  - Cargo.toml

# Add `lockfile` label to any change in Cargo.lock
lockfile:
  - Cargo.lock
