Repository ink8bit/vers, changes with the labels that .github/labeler.yml gives for each.
All labels: workflow, code owners, ignore, license, readme, crate, lockfile

.github/labeler.yml:

# Add `workflow` label to any change in .github/workflows folder
workflow:
  - .github/workflows/*

# Add `code owners` label to any change in CODEOWNERS file
code owners:
  - .github/CODEOWNERS

# Add `ignore` label to any change in .gitignore
ignore:
  - .gitignore

# Add `license` label to any change in LICENSE
license:
  - LICENSE

# Add `readme` label to any change in README.md
readme:
  - README.md

# Add `crate` label to any change in Cargo.toml
crate:
  - Cargo.toml

# Add `lockfile` label to any change in Cargo.lock
lockfile:
  - Cargo.lock

Move colored function out of scope
  src/error.rs
Labels: none

Update clap crate to v3.1.0
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Fix cli config
  src/cli.rs
Labels: none

Add error module
  src/error.rs
  src/lib.rs
Labels: none

Change help messages
  src/cli.rs
Labels: none

Add cli module
  src/cli.rs
  src/cli/commit.rs
  src/cli/info.rs
  src/cli/mod.rs
  src/cli/version.rs
  src/main.rs
Labels: none

Version bump: 0.1.0
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Add error module
  src/error.rs
  src/lib.rs
Labels: none

Update clap crate to v3.1.0
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Fix cli config
  src/cli.rs
Labels: none

Add cli module
  src/cli.rs
  src/cli/commit.rs
  src/cli/info.rs
  src/cli/mod.rs
  src/cli/version.rs
  src/main.rs
Labels: none

Change help messages
  src/cli.rs
Labels: none

Version bump: 0.1.0
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Update edition to 2021
  Cargo.toml
Labels: crate

Update public API section in readme
  README.md
Labels: readme

Add docs
  src/cli/commit.rs
  src/cli/info.rs
  src/cli/version.rs
Labels: none

Add notes to readme
  README.md
Labels: readme

Version bump: v0.2.0
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Update public API section in readme
  README.md
Labels: readme

Version bump: v0.2.0
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Add docs
  src/cli/commit.rs
  src/cli/info.rs
  src/cli/version.rs
Labels: none

Add notes to readme
  README.md
Labels: readme

Update edition to 2021
  Cargo.toml
Labels: crate

Update labeler workflow to v4.x
  .github/workflows/labeler.yml
Labels: workflow

Update labeler workflow to v4.x
  .github/workflows/labeler.yml
Labels: workflow

Update clap crate to v4.3.0
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Update source to support clap v4.x
  src/cli/commit.rs
  src/cli/info.rs
  src/cli/version.rs
  src/main.rs
Labels: none

Fix clippy warnings
  src/changelog.rs
  src/git.rs
  src/lib.rs
  src/npm.rs
Labels: none

Update clap crate to v4.3.0
  Cargo.lock
  Cargo.toml
Labels: crate, lockfile

Fix clippy warnings
  src/changelog.rs
  src/git.rs
  src/lib.rs
  src/npm.rs
Labels: none

Update source to support clap v4.x
  src/cli/commit.rs
  src/cli/info.rs
  src/cli/version.rs
  src/main.rs
Labels: none

Use actions/checkout v3
  .github/workflows/rust.yml
Labels: workflow

Update actions/checkout version to v4.x
  .github/workflows/rust.yml
Labels: workflow

Update actions/checkout version to v4.x
  .github/workflows/rust.yml
Labels: workflow

Use actions/checkout v3
  .github/workflows/rust.yml
Labels: workflow
